.start-option-holder{
    justify-self: center;
    align-self: center;
    width: 70%;
    max-width: 1100px;
    height: 280px;
    padding: 10px;
}

.start-option{
    border: 1px solid transparent;
    border-radius: 5px;
    height: calc(100% - 20px);
    width: calc(100% / 3 - 20px);
    margin: 10px;
    font-size: 23px;
    color: var(--text-color5);
    transition: 100ms;
    padding: 60px 20px;
    cursor: pointer;
    font-weight: 200;
}
.start-option:hover{
    border-color: var(--accent-color);
    color: var(--text-color0);
    box-shadow: var(--hover-shadow1);
}

.start-option-icon{
    font-size: 80px;
    line-height: 80px;
    opacity: 0.8;
}

.start-option-text{
    height: 40px;
    width: 100%;
    line-height: 40px;
}

.start-open-settings{
    width: 60px;
    height: 60px;
    color: var(--text-color6);
    position: fixed;
    top: 0;
    right: 0;
    font-size: 27px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.start-open-settings:hover{
    color: var(--text-color2);
}



.bu-item{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--table-border);
    text-align: left;
    line-height: 50px;
    white-space: nowrap;
}
.bu-filename{
    color: var(--text-color4);
    font-size: 16px;
}
