.edit-view-holder{
    width: 100%;
    height: 100%;
}

.edit-tab-holder{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background2);
}

.puppy-tab-holder{
    border-left: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
    padding-left: 8px;
    margin: 0 8px;
}

.tab,.tab-btn{
    height: 40px;
    width: 55px;
    line-height: 40px;
    color: var(--button-color1);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    background: var(--accent-color);
    vertical-align: top;
    transition: 100ms;
    font-weight: 500;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid transparent;
}

.tab:hover,.tab-btn:hover{
    box-shadow: var(--hover-shadow2);
}

.puppy-tab{
    margin-right: 8px;
}

.tab-icon{ font-size: 28px;}

.puppy-tab-anim-in{ animation: puppy-tab-in 200ms forwards; }

.tab-active{
    color: var(--accent-color);
    border-color: var(--accent-color);
    background: transparent;
}

.edit-content-holder{
    width: 100%;
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    padding: 20px;
}

.edit-tab{
    width: 100%;
    display: none;
}

.edit-tab-active{
    display: inline-block;
}

.template-obj{
    display: none !important;
}




.family-tree{
    height: 800px;
    width: 100%;
}

.gen-div{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--table-border);
    background: var(--background2);
}



.ac-bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    display: none;
    z-index: 9999;
}
.ac-bg.active{ display: grid; }

.ac-holder{
    background: var(--background1);
    width: 60%;
    border-radius: 5px;
    align-self: center;
    justify-self: center; 
}

.ac-header{
    height: 60px;
    background: var(--header-color);
    width: 100%;
    border-radius: 5px 5px 0 0;
    line-height: 60px;
    font-size: 15px;
    color: var(--accent-color);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.ac-content{
    width: 100%;
    padding: 20px 0;
    color: var(--text-color2);
}

.ac-list-holder{
    width: calc(100% - 10px);
    margin: 5px;
    height: 50px;
    position: relative;
    vertical-align: middle;
}

.ac-list-holder .input{
    position: relative;
    max-width: calc(100% - 10px);
    z-index: 1;
}

.ac-list{
    width: 100%;
    background: var(--background2);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    padding-top: 50px;
    max-height: 50px;
    overflow: hidden;
}
.ac-list-holder .input:valid ~ .ac-list{ max-height: 420px; }

.ac-list-item{
    line-height: 17px;
    width: calc(100% - 4px);
    padding: 3px 7px;
    margin: 2px;
    color: var(--text-color1);
    text-align: left;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.ac-list-item:hover{
    background: var(--accent-color);
    color: var(--button-color1);
}

.ac-seperator{
    height: 1px;
    width: calc(100% - 10px);
    margin: 10px 5px;
    margin-bottom: 0;
    background: var(--table-border);
}

.ac-list-item-subinfo{
    color: inherit;
    font-size: 11px;
    opacity: 0.7;
    width: 100%;
    text-align: left;
}
.ac-list-need-to-add{
    height: 35px;
    padding: 0;
    line-height: 35px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--accent-color);
}





.pl-no-puppies{
    font-size: 20px;
    color: var(--text-color6);
    width: 100%;
    line-height: 40px;
    text-align: center;
    margin: 100px 0;
}
.pl-no-puppies .material-icons{
    width: 100%;
    font-size: 120px;
    height: 120px;
    line-height: 120px;
    opacity: 0.7;
}

.puppy-list-row,.pl-table-name{
    width: 100%;
    text-align: left;
    color: var(--text-color2);
    white-space: nowrap;
    background: var(--background1);
}
.puppy-list-row:nth-child(2n){ background: var(--background2); }
.pl-table-name{ padding: 0 40px 0 40px; }

.pl-column,.pl-tn-column{
    width: calc((100% - 80px) / 5);
    height: 60px;
    padding: 10px 0;
    line-height: 40px;
    font-size: 14px;
    color: var(--text-color2);
    text-align: left;
    vertical-align: top;
    border-left: 1px solid var(--table-border);
}
.pl-column .material-icons{
    font-size: 24px;
    color: var(--text-color6);
    margin: 0 10px;
    vertical-align: middle;
}

.pl-tn-column{
    font-weight: bold;
    text-align: center;
    width: calc(100% / 5);
    padding: 0;
    height: 40px;
    color: var(--accent-color);
}
.pl-tn-category:first-of-type{border: none;}

.pl-delete,.pl-drag{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    line-height: 40px;
    color: var(--button-color1);
    background: var(--accent-color);
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    transition: 100ms;
    margin: 10px 0;
}
.pl-delete:hover{
    background: #FF3030;
    box-shadow: 0 0 0 5px rgba(255, 48, 48, 0.4);
}

.pl-drag{ background: transparent; color: var(--text-color2); }
.pl-drag:hover{ color: var(--accent-color); }
