.page
    height: 999px
    width: 1414px
    background: var(--background1)
    position: absolute
    top: 0px
    left: 0px
    user-select: none
    cursor: initial
    color: black

    .red
        color: red !important
        display: inline
    .blue
        color: blue !important
        display: inline
    .black
        color: black !important
        display: inline

    .page-state
        height: 100%
        width: 100%

        .page-div
            width: 50%
            height: 100%
            margin: 0px
            padding: -10px
            text-align: left
            line-height: 20px
            font-size: 12pt
            vertical-align: top
            border: 30px solid transparent
            position: relative

            &.page-left
                width: calc(50% - 60px)
                margin-right: 60px
                text-align: justify

            &.page-right
                width: calc(50% - 30px)
                margin-left: 25px
                margin-right: 5px

            .page-border
                position: absolute
                left: -30px
                top: -30px
                width: calc(100% + 60px) !important
                height: calc(100% + 60px) !important
                border: 30px solid transparent
                border-image: url("../images/border.png") 30 30 repeat

            .hl
                font-size: 60px
                margin-top: 15px
                margin-bottom: 30px
                width: 100%
                text-align: center
                font-family: 'Matura'

            .sub-hl
                font-size: 25px
                margin-bottom: 15px
                width: 100%
                text-align: center
                font-family: 'Matura'

            .sub-hl2
                font-size: 15.4pt
                line-height: 40px
                width: 100%
                text-align: center
                font-family: 'Matura'

            .drv-logo-front
                vertical-align: middle
                margin: 10px 0
                margin-left: 80px

            .comment
                width: 100%

                .divider
                    height: 4px
                    border-top: 1px solid black
                    border-bottom: 1px solid black
                    width: calc(100% - 30px)
                    margin: 0 15px
                    margin-bottom: 6px
                .comment-hl
                    font-weight: bold
                    margin-bottom: 5px
                    text-decoration: underline

            .data-container
                margin-top: 30px
                display: grid
                grid-template-columns: 6fr 7fr 7fr
                grid-template-rows: auto auto auto auto auto auto auto auto
                grid-row-gap: 45px
                grid-template-areas: "breed breedIN breedIN" "name nameIN nameIN" "date dateIN amountIN" "gender genderIN ." "color colorIN ." "zbn zbnIN fcm" "chip chipIN fcm" "address addressIN addressIN"

                .row-title
                    span:first-of-type
                        font-size: 14pt
                        display: block

                    span:last-of-type
                        font-size: 10pt
                        display: block
                
                .row-bold1
                    font-weight: 600
                    font-size: 21pt
                    line-height: 25pt
                    margin-top: -7px

                .row-bold2
                    font-weight: 600
                    font-size: 16pt
                    line-height: 20pt
                    margin-top: -3px

                .breedIN
                    grid-area: breedIN
                .nameIN
                    grid-area: nameIN
                .dateIN
                    grid-area: dateIN
                .amountIN
                    grid-area: amountIN

                    .amount-title
                        vertical-align: top
                    .amount
                        vertical-align: top
                        margin-left: 7px

                .genderIN
                    grid-area: genderIN
                .colorIN
                    grid-area: colorIN
                .zbnIN
                    grid-area: zbnIN
                .chipIN
                    grid-area: chipIN
                .addressIN
                    grid-area: addressIN
                .breed
                    grid-area: breed
                .name
                    grid-area: name
                .date
                    grid-area: date
                .gender
                    grid-area: gender
                .color
                    grid-area: color
                .zbn
                    grid-area: zbn
                .chip
                    grid-area: chip
                .address
                    grid-area: address
                .fcm
                    grid-area: fcm
                    text-align: center

                    img
                        height: 120px


            .bottom-sign
                width: 100%
                position: absolute
                bottom: -15px
                display: grid
                grid-template-columns: auto 1fr
                grid-template-rows: auto
                grid-column-gap: 4px
                grid-template-areas: "title" "line"

                .title
                    font-size: 10pt
                    grid-area: "title"
                    vertical-align: top
                .line
                    border-top: 1px solid black
                    font-size: 8pt
                    line-height: 20pt
                    text-align: center
                    grid-area: "line"
                    margin-top: 16px
                    vertical-align: top

        .tree-top
            height: 60px
            line-height: 40px
            width: calc(100% - 60px)
            margin: 0 30px
            text-align: center
            color: #aaa
            font-size: 17px
            display: flex
            justify-content: space-between

            .item
                color: black
                white-space: nowrap
                font-size: 11pt

        .tree-bottom
            height: calc(100% - 60px)
            width: 100%
            position: relative

            .border
                height: 100%
                width: 100%
                position: absolute
                top: 0
                left: 0
                z-index: 1
                border: 30px solid transparent
                position: relative
                border-image: url("../images/border.png") 30 30 repeat

            .tree-hl
                height: 28px
                line-height: 28px
                width: calc(100% - 60px)
                margin: 0 30px
                text-align: center
                color: #aaa
                display: flex
                position: absolute
                top: 2px
                left: 0
                z-index: 3

                .item
                    flex: 1
                    white-space: nowrap
                    font-size: 13pt

            .tree
                display: flex
                height: 100%
                width: 100%
                padding: 30px
                position: absolute
                top: 0
                left: 0
                z-index: 2

                .tree-column
                    height: 100%
                    flex: 1
                    display: flex
                    flex-direction: column
                    justify-content: space-around

                    .tree-row
                        flex: 1
                        color: black
                        width: 100%
                        text-align: left

                        &.c1
                            border-right: 1px solid #000
                            border-bottom: 1px solid #000
                            padding: 6px 7px
                            padding-bottom: 0

                            &:last-child
                                border-bottom: none

                            .name
                                font-weight: bold
                                font-size: 12pt
                                width: 100%
                                line-height: 14pt
                                margin-bottom: 8px

                            .data
                                width: 100%

                                .title
                                    width: 70px
                                    font-size: 9pt
                                    line-height: 11pt
                                    vertical-align: top
                                .values
                                    font-weight: bold
                                    width: calc(100% - 70px)
                                    font-size: 9pt
                                    line-height: 11pt
                                    vertical-align: top
                            
                            .desc
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: 500
                            
                        &.c2
                            border-right: 1px solid #000
                            border-bottom: 1px solid #000
                            padding: 6px 7px
                            padding-bottom: 0

                            &:last-child
                                border-bottom: none

                            .name
                                font-weight: bold
                                font-size: 12pt
                                width: 100%
                                line-height: 14pt
                                margin-bottom: 8px

                            .data
                                width: 100%
                                margin-bottom: 8px

                                .title
                                    width: 60%
                                    font-size: 9pt
                                    line-height: 11pt
                                    font-weight: bold
                                    vertical-align: top
                                .values
                                    font-weight: bold
                                    width: 40%
                                    font-size: 9pt
                                    line-height: 11pt
                                    vertical-align: top

                            .size
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: bold
                                display: inline
                            
                            .desc
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: 500
                                display: inline

                        &.c3
                            border-right: 1px solid #000
                            border-bottom: 1px solid #000
                            padding: 5px 7px
                            padding-bottom: 0

                            &:last-child
                                border-bottom: none

                            .name
                                font-weight: bold
                                font-size: 11pt
                                width: 100%
                                line-height: 14pt
                                margin-bottom: 5px

                            .data
                                width: 100%

                                .title
                                    width: 60%
                                    font-size: 9pt
                                    line-height: 11pt
                                    font-weight: bold
                                    vertical-align: top
                                .values
                                    font-weight: bold
                                    width: 40%
                                    font-size: 9pt
                                    line-height: 11pt
                                    vertical-align: top

                            .size
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: bold
                                display: inline
                            
                            .desc
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: 500
                                display: inline

                        &.c4
                            border-bottom: 1px solid #000
                            padding: 2px 7px
                            padding-bottom: 0

                            &:last-child
                                border-bottom: none

                            .name
                                font-weight: bold
                                font-size: 11pt
                                width: 100%
                                line-height: 14pt
                                margin-bottom: 1px

                            .data
                                width: 100%
                                display: flex
                                justify-content: space-between

                                .item
                                    font-size: 9pt
                                    line-height: 11pt
                                    font-weight: bold
                                    vertical-align: top

                            .size
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: bold
                                display: inline
                            
                            .desc
                                font-size: 9pt
                                line-height: 11pt
                                font-weight: 500
                                display: inline