<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gencestor 0.9.0</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vue.min.js"></script>
        <script>
            const $ = require('jquery')
            const tooltip = require('electron-tooltip')
            const fs = require('fs')
            const pn = require('path')
            const glob = require('glob')
            const anime = require('animejs')
            const settings = require('electron-settings')
            const {ipcRenderer} = require('electron')
        </script>
    </head>
    <body>
        <div id="app">

            <div class="view start-view" v-show="settings.activeView == 'start'">
                <div class="start-option-holder no-select">
                    <div class="start-option" onclick="app.settings.logged ? changeToEditView() : initLogin()">
                        <div class="start-option-icon">&#61988;</div>
                        <span class="start-option-text">Erstellen</span>
                    </div>
                    <div class="start-option" onclick="app.settings.logged ? openFile() : initLogin()">
                        <div class="start-option-icon">&#63343;</div>
                        <span class="start-option-text">Öffnen</span>
                    </div>
                    <div class="start-option" onclick="app.settings.logged ? changeToDatabaseView() : initLogin()">
                        <div class="start-option-icon">&#64169;</div>
                        <span class="start-option-text">Datenbank</span>
                    </div>
                </div>
                <div class="start-open-settings" onclick="animPopup('settings','in')">
                    <div class="icon">&#62611;</div>
                    <div v-show="settings.notifications.count >= 1" class="notification">{{settings.notifications.count}}</div>
                </div>
            </div>



            <div class="view" v-show="settings.activeView == 'edit'">
                <div class="edit-view-holder">

                    <div class="edit-sidebar no-select">
                        <div class="nav-btn nav-back" onclick="changeToStartView()">&#61761;</div>

                        <div class="tab" :class="{'tab-active' : settings.activeTab == 0}">
                            <div class="tab-text" @click="setTab(0)">
                                <div class="tab-icon">&#62634;</div> Hauptseite
                            </div>
                            <div class="tab-btn" @click="addTab()" data-tooltip="Tab hinzufügen" data-tooltip-position="right">&#62485;</div>
                        </div>

                        <div class="tab-holder">
                            <div class="tab" v-for="(entry, i) in doc.entries" :class="{'tab-active' : settings.activeTab == (i+1)}">
                                <div class="tab-text" @click="setTab(i+1)">
                                    <div class="tab-count">{{i+1}}</div> {{entry.firstname}}
                                </div>
                                <div class="tab-btn delete" @click="removeTab(i+1)" data-tooltip="Tab löschen" data-tooltip-position="right">&#64121;</div>
                            </div>
                        </div>
                    </div>

                    <div class="edit-content-holder">

                        <div class="edit-tab" v-show="settings.activeTab == 0">
                            <input class="input" v-model="doc.name" type="text" placeholder="Züchtername">
                            <input class="input" v-model="doc.date" type="date" placeholder="Wurftag">
                            <input class="input" v-model="doc.race" type="text" placeholder="Rasse">
                            <select class="input" v-model="doc.hairtype">
                                <option value="" disabled selected>Haartype auswählen</option>
                                <option value="Struppig">Struppig</option>
                                <option value="Glatt">Glatt</option>
                                <option value="Gelockt">Gelockt</option>
                                <option v-for="type in settings.hairtypes" :value="type">{{type}}</option>
                            </select><br>
                            <div class="family-tree">
                                <div class="main-grid">
                                    <div class="grid-column" v-for="(column, c) in doc.tree">
                                        <div class="grid-row" v-for="(row, r) in column" @click="openACpopup(c+1,r+1)" :class="{'hasParent': doc.tree[c][r].name != null}">
                                            <input type="hidden" class="gen-chip" v-model="doc.tree[c][r].chip">
                                            <div v-if="doc.tree[c][r].name != null">{{doc.tree[c][r].name}}</div>
                                            <div v-else>{{((r%2==0) ? 'Vater' : 'Mutter') + ' hinzufügen'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="edit-tab extra-edit-tab" v-if="settings.activeTab >= 1">
                            <input class="input" v-model="doc.entries[settings.activeTab-1].firstname" type="text" placeholder="Name"><br>
                            
                            <div class="quick-select-input">
                                <div class="wrapper">
                                    <label class="option">
                                        <input type="radio" name="gender" selected value="male" v-model="doc.entries[settings.activeTab-1].gender">
                                        <div class="inner">
                                            <div class="icon">&#62109;</div>
                                            Männlich<br>
                                        </div>
                                    </label>
                                    <label class="option">
                                        <input type="radio" name="gender" selected value="female" v-model="doc.entries[settings.activeTab-1].gender">
                                        <div class="inner">
                                            <div class="icon">&#62108;</div>
                                            Weiblich<br>
                                        </div>
                                    </label>
                                </div>
                            </div><br>
                            
                            <input type="text" class="input" v-model="doc.entries[settings.activeTab-1].haircolor" placeholder="Haarfarbe"><br>
                            <input class="input" v-model="doc.entries[settings.activeTab-1].chip" type="text" placeholder="Chip-Nr."><br>
                            <input class="input" v-model="doc.entries[settings.activeTab-1].zbn" type="text" placeholder="Zuchtbuch-Nr."><br>
                        </div>

                    </div>

                    <div class="add-parent-holder">
                        <div class="close" @click="closeACpopup()">&#61782;</div>
                        <input type="text" v-model="i.ac_animal_data.currentSearch" class="input ac-name-input" onfocus="searchAutoComplete()" oninput="searchAutoComplete()" placeholder="Nach Hund suchen">
                        <div class="add-parent-list">
                            <div v-for="(animal, i) in animal_data_autocomplete" @click="enterSearchedDogData(i)" class="add-parent-li">
                                {{animal.fullname}}<span class="subinfo">{{animal.chipnumber}}</span>
                            </div>
                            <div class="seperator"></div>
                            <div class="add-parent-li enter-new">Neuen Hund hinzufügen</div>
                        </div>
                    </div>

                    <div class="popup-bg pl-bg">
                        <div class="popup-holder pl-holder">
                            <div class="popup-header pl-header no-select">
                                Übersicht
                                <div class="close-ui" onclick="animPopup('pl','out')">&#61782;</div>
                            </div>
                            <div class="popup-content pl-content">

                                <div v-if="doc.entries.length > 0" class="pl-table-name no-select">
                                    <div class="pl-tn-column">Hunde-Name</div>
                                    <div class="pl-tn-column">Geschlecht</div>
                                    <div class="pl-tn-column">Haarfarbe</div>
                                    <div class="pl-tn-column">Chip-Nr.</div>
                                    <div class="pl-tn-column">Zuchtbuch-Nr.</div>
                                </div>
                                <div v-else class="pl-no-puppies no-select">
                                    <div class="icon">&#64597;</div>
                                    Huh! Ganz schön leer.
                                </div>

                                <div v-for="(entry, i) in doc.entries" class="puppy-list-row">
                                    <div class="pl-drag">&#61917;</div>
                                    <div class="pl-column">{{entry.firstname}}</div>
                                    <div class="pl-column">{{entry.gender}}</div>
                                    <div class="pl-column">{{entry.haircolor}}</div>
                                    <div class="pl-column">{{entry.chip}}</div>
                                    <div class="pl-column">{{entry.zbn}}</div>
                                    <div class="pl-delete" data-tooltip="Welpe löschen" data-tooltip-position="left" @click="removeTab(i+1)">&#64121;</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-fab nav-fab-1 no-select" data-tooltip="Datei speichern" data-tooltip-position="left" onclick="saveFile()">&#61843;</div>
                    <div class="nav-fab nav-fab-2 no-select" data-tooltip="Druckvorschau öffnen" data-tooltip-position="left" onclick="sendDataToPrint()">&#62506;</div>
                    <div class="nav-fab nav-fab-3 no-select" data-tooltip="Übersicht öffnen" data-tooltip-position="left" onclick="animPopup('pl','in')">&#63849;</div>

                </div>
            </div>



            <div class="view" v-show="settings.activeView == 'database'">
                <div class="db-header">
                    <input type="text" class="input" id="dog-data-search" onchange="searchDogData()" placeholder="Nach Hund suchen">
                    <div class="nav-btn nav-back" onclick="changeToStartView()">&#61761;</div>
                </div>
                <div class="db-table">
                    <div class="db-table-holder">
                        <div class="db-row db-table-head no-select">
                            <div class="db-column dbc-chip-head">Chip-Nr.</div>
                            <div class="db-column dbc-zbn-head">Zuchtbuch-Nr.</div>
                            <div class="db-column dbc-firstname-head">Hunde-Name</div>
                            <div class="db-column dbc-lastname-head">Zwinger-Name</div>
                            <div class="db-column dbc-birthdate-head">Wurftag</div>
                            <div class="db-column dbc-gender-head">Geschlecht</div>
                            <div class="db-column dbc-race-head">Rasse</div>
                            <div class="db-column dbc-hairtype-head">Haartype</div>
                            <div class="db-column dbc-haircolor-head">Haarfarbe</div>
                            <div class="db-column dbc-mother-head">Mutter</div>
                            <div class="db-column dbc-father-head">Vater</div>
                            <div class="db-column dbc-breeder-head">Züchter</div>
                            <div class="db-column dbc-breeder-head">Mitglieds-Nr.</div>
                        </div>
                        <div v-for="animal in animal_data" class="db-row" onclick="editDogData(this)">
                            <div class="db-column dbc-chip" :title="animal.chipnumber">{{animal.chipnumber}}</div>
                            <div class="db-column dbc-zbn" :title="animal.zbn">{{animal.zbn}}</div>
                            <div class="db-column dbc-firstname" :title="animal.firstname">{{animal.firstname}}</div>
                            <div class="db-column dbc-lastname" :title="animal.lastname">{{animal.lastname}}</div>
                            <div class="db-column dbc-birthdate" :title="formatDate(animal.birthdate)">{{formatDate(animal.birthdate)}}</div>
                            <div class="db-column dbc-gender" :title="animal.gender">{{animal.gender}}</div>
                            <div class="db-column dbc-race" :title="animal.race">{{animal.race}}</div>
                            <div class="db-column dbc-hairtype" :title="animal.hairtype">{{animal.hairtype}}</div>
                            <div class="db-column dbc-haircolor" :title="animal.haircolor">{{animal.haircolor}}</div>
                            <div class="db-column dbc-mother" :title="animal.mother">{{animal.mother}}</div>
                            <div class="db-column dbc-father" :title="animal.father">{{animal.father}}</div>
                            <div class="db-column dbc-breeder" :title="animal.breeder">{{animal.breeder}}</div>
                            <div class="db-column dbc-membernumber" :title="animal.membernumber">{{animal.membernumber}}</div>
                        </div>
                    </div>
                </div>
                <div class="nav-fab nav-fab-1 no-select" data-tooltip="Eintrag hinzufügen" data-tooltip-position="left" onclick="animPopup('add-dog','in')">&#62485;</div>
            </div>



            <div class="popup-bg add-dog-bg no-select">
                <div class="popup-holder add-dog-holder">
                    <div class="popup-header add-dog-header">
                        Eintrag hinzufügen
                        <div class="close-ui" onclick="animPopup('add-dog','out')">&#61782;</div>
                    </div>
                    <form id="dog-data-creator" onsubmit="createDogData(event)" class="popup-content add-dog-content">
                        <input name="chipnumber" type="text" class="input" placeholder="Chip-Nr.">
                        <input name="zbn" type="text" class="input" placeholder="Zuchtbuch-Nr.">
                        <input name="name" type="text" class="input" placeholder="Name">
                        <input name="birthdate" type="date" class="input" placeholder="Wurftag">
                        <select name="gender" class="input">
                            <option value="male">Rüde</option>
                            <option value="female">Hündin</option>
                        </select>
                        <input name="race" type="text" class="input" placeholder="Rasse">
                        <select name="hairtype" class="input">
                            <option value="" disabled selected>Haartype auswählen</option>
                            <option value="Struppig">Struppig</option>
                            <option value="Glatt">Glatt</option>
                            <option value="Gelockt">Gelockt</option>
                            <option v-for="type in settings.hairtypes" :value="type">{{type}}</option>
                        </select>
                        <input name="haircolor" type="text" class="input" placeholder="Haarfarbe">
                        <input name="father" type="text" class="input" placeholder="Vater">
                        <input name="mother" type="text" class="input" placeholder="Mutter">
                        <input name="breeder" type="text" class="input" placeholder="Züchter">
                        <input name="membernumber" type="text" class="input" placeholder="Mitglieds-Nr.">
                        <button type="reset" class="button ghost-button">Eingaben löschen</button>
                        <button type="submit" class="button">Hinzufügen</button>
                    </form>
                </div>
            </div>



            <div class="popup-bg settings-bg no-select">
                <div class="popup-holder settings-holder">
                    <div class="popup-header settings-header">
                        Einstellungen
                        <div class="close-ui" onclick="animPopup('settings','out')">&#61782;</div>
                    </div>
                    <div class="settings-categories">
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'GENERAL'}" @click="settings.activeSetting = 'GENERAL'"><div class="icon">&#63022;</div> Allgemein</div>
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'EDITOR'}" @click="settings.activeSetting = 'EDITOR'"><div class="icon">&#63476;</div> Editor</div>
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'PROXY'}" @click="settings.activeSetting = 'PROXY'"><div class="icon">&#62605;</div> Proxy (nur UI)</div>
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'CLOUD'}" @click="settings.activeSetting = 'CLOUD'"><div class="icon">&#63039;</div> Cloud Speicherung (nur UI)</div>
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'UPDATE'}" @click="settings.activeSetting = 'UPDATE'"><div class="icon">&#63151;</div> Updates</div>
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'INFO'}" @click="settings.activeSetting = 'INFO'"><div class="icon">&#62205;</div> Info</div>
                        <div class="settings-category" :class="{'active' : settings.activeSetting == 'ADVANCED'}" @click="settings.activeSetting = 'ADVANCED'"><div class="icon">&#63701;</div> Erweitert</div>
                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'GENERAL'">
                        <!-- OPTION LICENSE -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#64305;</div>Nutzername:</div>
                            <input class="settings-input input" v-model="i.settings.user" type="text" placeholder="Nutzername">
                        </div>

                        <!-- OPTION DATEFORMAT -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#61678;</div>Datumsformatierung:</div>
                            <select class="settings-input input" v-model="i.settings.dateFormat">
                                <option value="DMY">Tag Monat Jahr</option>
                                <option value="MDY">Monat Tag Jahr</option>
                                <option value="YDM">Jahr Tag Monat</option>
                            </select>
                        </div>

                        <!-- OPTION DATEDIVIDER -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#63096;</div>Datumstrenner:</div>
                            <select class="settings-input input" v-model="i.settings.dateDivider">
                                <option value=".">. (Punkt)</option>
                                <option value="/">/ (Schrägstrich)</option>
                                <option value="-">- (Trennstrich)</option>
                            </select>
                        </div>

                        <!-- OPTION THEME -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#62424;</div>Farbschema:</div>
                            <select class="settings-input input" v-model="i.settings.theme">
                                <option v-for="(theme, themeKey) in themes" :value="themeKey">{{theme.name}}</option>
                            </select>
                        </div>

                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'EDITOR'">

                        <!-- OPTION HAIRTYPE -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#63107;</div>Felltypen:</div>
                            <input class="settings-input input" v-model="i.settings.hairtypes" type="text" placeholder="z.B. Langhaar, Stoppelig, Lockig">
                        </div>

                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'PROXY'">

                        <!-- OPTION PROXY -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#62605;</div>Proxy:</div>
                            <select class="settings-input input" v-model="i.settings.proxyType">
                                <option value="NONE">Keiner</option>
                                <option value="HTTP">HTTP</option>
                                <option value="HTTPS">HTTPS</option>
                            </select>
                        </div>

                        <!-- OPTION PROXYIP -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#64095;</div>Proxy IP:</div>
                            <input class="settings-input input" v-model="i.settings.proxyIP" type="text" placeholder="z.B. 192.172.168.90">
                        </div>

                        <!-- OPTION PROXYPORT -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#63656;</div>Proxy Port:</div>
                            <input class="settings-input input" v-model="i.settings.proxyPort" type="text" placeholder="z.B. 8080">
                        </div>

                        <!-- OPTION PROXYUSER -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#61457;</div>Proxy Nutzername:</div>
                            <input class="settings-input input" v-model="i.settings.proxyUser" type="text" placeholder="Nutzername">
                        </div>

                        <!-- OPTION PROXYPASS -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#62596;</div>Proxy Passwort:</div>
                            <input class="settings-input input" v-model="i.settings.proxyPass" type="text" placeholder="Passwort">
                        </div>

                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'ADVANCED'">

                        <!-- OPTION DEVMODE -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#61478;</div>Entwickler Modus ( devMode )
                                <input type="checkbox" class="checkbox" v-model="i.settings.devMode">
                            </div>
                        </div>

                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'CLOUD'">
                    
                        <!-- CLOUD SYNC -->
                    
                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'UPDATE'">
                    
                        <!-- UPDATE -->
                    
                    </div>



                    <div class="popup-content settings-content" v-show="settings.activeSetting == 'INFO'">

                        <!-- INFO -->
                        <div class="settings-divider">
                            <div class="info">
                                <h3>Informationen zur Software</h3><br>
                                Version: <div class="box">{{info.version}}</div><br>
                                API-Version: <div class="box">{{info.apiVersion}}</div><br>
                                Electron-Version: <div class="box">{{info.electronVersion}}</div><br>
                                <h3>Informationen zu den Entwicklern</h3><br>
                                <h4>UI / UX Designer</h4><br>
                                Maurice Freuwört<br>
                                <h4>Front-End Entwicklung</h4><br>
                                Maurice Freuwört<br>
                                <h4>Back-End Entwicklung</h4><br>
                                Maurice Freuwört<br>
                                Maximilian Böer<br>
                            </div>
                        </div>

                    </div>



                    <div class="popup-footer settings-footer">
                        <div class="button ghost-button" onclick="resetSettings()">Zurücksetzen</div>
                        <div class="button" onclick="applySettings()">Übernehmen</div>
                    </div>
                </div>
            </div>



            <div class="popup-bg bu-bg no-select">
                <div class="popup-holder bu-holder">
                    <div class="popup-header bu-header">
                        Backups gefunden
                        <div class="close-ui" onclick="animPopup('bu','out')">&#61782;</div>
                    </div>
                    <div class="popup-content bu-content">
                        <div v-for="file in backup" class="bu-item">
                            <div class="bu-filename"> {{file}} </div>
                        </div>
                    </div>
                    <div class="popup-footer bu-footer">
                        <div class="button">Auswahl löschen</div>
                        <div class="button" onclick="deleteBackup()">Alle löschen</div>
                        <div class="button" onclick="animPopup('bu','out')">Ignorieren</div>
                    </div>
                </div>
            </div>



            <form onsubmit="ipUserNext(event)" class="input-popup-bg user-ip-bg">
                <input type="text" class="input" id="user-ip-value" placeholder="Nutzername eingeben">
                <button type="submit" class="input-popup-btn">Weiter</button>
            </form>

            <form onsubmit="ipPassNext(event)" class="input-popup-bg pass-ip-bg">
                <input type="text" class="input" id="pass-ip-value" placeholder="Passwort eingeben">
                <button type="submit" class="input-popup-btn">Einloggen</button>
            </form>

            <!-- HOLDER FOR ALL TOAST NOTIFICATIONS -->
            <div class="toast-holder"></div>

        </div>
    </body>

    <script src="js/view.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/toast.js"></script>
    <script src="js/filemanagement.js"></script>
    <script src="js/backup_handler.js"></script>
    <script src="js/appmenuReceiver.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/misc.js"></script>

    <!-- Just here to let me F5 the program -> delete when production -->
    <script src="renderer.js"></script>

    <script src="js/INIT.js"></script>
</html>
