<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DRV Ahnentafel Tool 2018</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vue.min.js"></script>
        <script>
            const $ = require('jquery')
            const tooltip = require('electron-tooltip')
            const fs = require('fs')
            const pn = require('path')
            const glob = require('glob')
            const anime = require('animejs')
            const settings = require('electron-settings')
            const {ipcRenderer} = require('electron')
        </script>
    </head>
    <body>
        <div id="app">

            <div class="view start-view" v-show="settings.activeView == 'start'">
                <div class="start-option-holder no-select">
                    <div class="start-option" onclick="app.settings.logged ? changeToEditView() : initLogin()">
                        <div class="start-option-icon">&#61988;</div>
                        <span class="start-option-text">Erstellen</span>
                    </div>
                    <div class="start-option" onclick="app.settings.logged ? openFile() : initLogin()">
                        <div class="start-option-icon">&#63343;</div>
                        <span class="start-option-text">Öffnen</span>
                    </div>
                    <div class="start-option" onclick="app.settings.logged ? changeToDatabaseView() : initLogin()">
                        <div class="start-option-icon">&#64169;</div>
                        <span class="start-option-text">Datenbank</span>
                    </div>
                </div>
                <div class="start-open-settings" onclick="animPopup('settings','in')">&#62611;</div>
            </div>



            <div class="view" v-show="settings.activeView == 'edit'">
                <div class="edit-view-holder">

                    <div class="edit-sidebar no-select">
                        <div class="nav-btn nav-back" onclick="changeToStartView()">&#61761;</div>

                        <div class="tab" :class="{'tab-active' : settings.activeTab == 0}">
                            <div class="tab-text" @click="setTab(0)">
                                <div class="tab-icon">&#62634;</div> Hauptseite
                            </div>
                            <div class="tab-btn" @click="addTab()" data-tooltip="Tab hinzufügen" data-tooltip-position="right">&#62485;</div>
                        </div>

                        <div class="tab-holder">
                            <div class="tab" v-for="(entry, i) in doc.entries" :class="{'tab-active' : settings.activeTab == (i+1)}">
                                <div class="tab-text" @click="setTab(i+1)">
                                    <div class="tab-count">{{i+1}}</div> {{entry.firstname}}
                                </div>
                                <div class="tab-btn delete" @click="removeTab(i+1)" data-tooltip="Tab löschen" data-tooltip-position="right">&#64121;</div>
                            </div>
                        </div>
                    </div>

                    <div class="edit-content-holder">

                        <div class="edit-tab" v-show="settings.activeTab == 0">
                            <input class="input" v-model="doc.name" type="text" placeholder="Züchtername">
                            <input class="input" v-model="doc.date" type="date" placeholder="Wurftag">
                            <input class="input" v-model="doc.race" type="text" placeholder="Rasse">
                            <select class="input" v-model="doc.hairtype">
                                <option value="" disabled selected>Haartype auswählen</option>
                                <option value="Struppig">Struppig</option>
                                <option value="Glatt">Glatt</option>
                                <option value="Gelockt">Gelockt</option>
                                <option v-for="type in settings.hairtypes" :value="type">{{type}}</option>
                            </select><br>
                            <div class="family-tree">
                                <div class="main-grid">
                                    <div class="gen-div gen-1-1">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[0][0].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[0][0].name">
                                        <div class="button" onclick="openACpopup(1,1,'male')">Vater hinzufügen</div>
                                    </div>
                                    <div class="gen-div gen-1-2">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[0][1].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[0][1].name">
                                        <div class="button" onclick="openACpopup(1,2,'female')">Mutter hinzufügen</div>
                                    </div>
                                    <div class="gen-div gen-2-1">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[1][0].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[1][0].name">
                                    </div>
                                    <div class="gen-div gen-2-2">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[1][1].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[1][1].name">
                                    </div>
                                    <div class="gen-div gen-2-3">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[1][2].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[1][2].name">
                                    </div>
                                    <div class="gen-div gen-2-4">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[1][3].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[1][3].name">
                                    </div>
                                    <div class="gen-div gen-3-1">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][0].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][0].name">
                                    </div>
                                    <div class="gen-div gen-3-2">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][1].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][1].name">
                                    </div>
                                    <div class="gen-div gen-3-3">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][2].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][2].name">
                                    </div>
                                    <div class="gen-div gen-3-4">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][3].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][3].name">
                                    </div>
                                    <div class="gen-div gen-3-5">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][4].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][4].name">
                                    </div>
                                    <div class="gen-div gen-3-6">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][5].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][5].name">
                                    </div>
                                    <div class="gen-div gen-3-7">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][6].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][6].name">
                                    </div>
                                    <div class="gen-div gen-3-8">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[2][7].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[2][7].name">
                                    </div>
                                    <div class="gen-div gen-4-1">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][0].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][0].name">
                                    </div>
                                    <div class="gen-div gen-4-2">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][1].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][1].name">
                                    </div>
                                    <div class="gen-div gen-4-3">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][2].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][2].name">
                                    </div>
                                    <div class="gen-div gen-4-4">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][3].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][3].name">
                                    </div>
                                    <div class="gen-div gen-4-5">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][4].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][4].name">
                                    </div>
                                    <div class="gen-div gen-4-6">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][5].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][5].name">
                                    </div>
                                    <div class="gen-div gen-4-7">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][6].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][6].name">
                                    </div>
                                    <div class="gen-div gen-4-8">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][7].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][7].name">
                                    </div>
                                    <div class="gen-div gen-4-9">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][8].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][8].name">
                                    </div>
                                    <div class="gen-div gen-4-10">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][9].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][9].name">
                                    </div>
                                    <div class="gen-div gen-4-11">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][10].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][10].name">
                                    </div>
                                    <div class="gen-div gen-4-12">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][11].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][11].name">
                                    </div>
                                    <div class="gen-div gen-4-13">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][12].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][12].name">
                                    </div>
                                    <div class="gen-div gen-4-14">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][13].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][13].name">
                                    </div>
                                    <div class="gen-div gen-4-15">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][14].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][14].name">
                                    </div>
                                    <div class="gen-div gen-4-16">
                                        <input type="hidden" class="gen-chip" v-model="doc.tree[3][15].chip">
                                        <input type="text" class="gen-name" v-model="doc.tree[3][15].name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-for="(entry, i) in doc.entries" class="edit-tab extra-edit-tab" v-show="settings.activeTab == i+1">
                            <input class="input" v-model="doc.entries[i].firstname" type="text" placeholder="Name">
                            <select class="input" v-model="doc.entries[i].gender">
                                <option value="" disabled selected>Geschlecht auswählen</option>
                                <option value="male">Rüde</option>
                                <option value="female">Hündin</option>
                            </select><br>
                            <input type="text" class="input" v-model="doc.entries[i].haircolor" placeholder="Haarfarbe">
                            <input class="input" v-model="doc.entries[i].chip" type="text" placeholder="Chip-Nr."><br>
                            <input class="input" v-model="doc.entries[i].zbn" type="text" placeholder="Zuchtbuch-Nr.">
                        </div>

                    </div>

                    <div class="ac-bg">
                        <div class="ac-holder">
                            <div class="ac-header">
                                Eltern Hinzufügen
                                <div class="close-ui" onclick="closeACpopup()">&#61782;</div>
                            </div>
                            <div class="ac-content">
                                <input type="hidden" class="ac-gen-column-input" value="1">
                                <input type="hidden" class="ac-gen-row-input" value="1">
                                <input type="hidden" class="ac-gender-input" value="female">
                                <div class="ac-list-holder">
                                    <input type="text" required class="input ac-name-input" onfocus="searchAutoComplete()" oninput="searchAutoComplete()"
                                        placeholder="Nach Hund suchen">
                                    <div class="ac-list">
                                        <div v-for="acDog in acDogData" onclick="enterSearchedDogData(this)" class="ac-list-item"
                                            :chip="acDog.chipnumber" :name="acDog.fullname" :mother="acDog.mother" :father="acDog.father">
                                            {{acDog.fullname}}<span class="ac-list-item-subinfo">{{acDog.chipnumber}}</span>
                                        </div>
                                        <div class="ac-seperator"></div>
                                        <div class="ac-list-item ac-list-need-to-add">Neuen Hund hinzufügen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="popup-bg pl-bg">
                        <div class="popup-holder pl-holder">
                            <div class="popup-header pl-header no-select">
                                Übersicht
                                <div class="close-ui" onclick="animPopup('pl','out')">&#61782;</div>
                            </div>
                            <div class="popup-content pl-content">

                                <div v-if="main.puppy != undefined && main.puppy.length > 0" class="pl-table-name no-select">
                                    <div class="pl-tn-column">Hunde-Name</div>
                                    <div class="pl-tn-column">Geschlecht</div>
                                    <div class="pl-tn-column">Haarfarbe</div>
                                    <div class="pl-tn-column">Chip-Nr.</div>
                                    <div class="pl-tn-column">Zuchtbuch-Nr.</div>
                                </div>
                                <div v-else class="pl-no-puppies no-select">
                                    <div class="icon">&#64597;</div>
                                    Huh! Ganz schön leer.
                                </div>

                                <div v-for="(puppy, i) in main.puppy" class="puppy-list-row">
                                    <div class="pl-drag">&#61917;</div>
                                    <div class="pl-column">{{puppy.firstname}}</div>
                                    <div class="pl-column">{{puppy.gender}}</div>
                                    <div class="pl-column">{{puppy.haircolor}}</div>
                                    <div class="pl-column">{{puppy.chip}}</div>
                                    <div class="pl-column">{{puppy.zbn}}</div>
                                    <div class="pl-delete" data-tooltip="Welpe löschen" data-tooltip-position="left" :onclick="'removeTabs('+i+')'">&#61888;</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-fab nav-fab-1 no-select" data-tooltip="Datei speichern" data-tooltip-position="left" onclick="saveFile()">&#61843;</div>
                    <div class="nav-fab nav-fab-2 no-select" data-tooltip="Übersicht öffnen" data-tooltip-position="left" onclick="animPopup('pl','in')">&#63849;</div>

                </div>
            </div>



            <div class="view" v-show="settings.activeView == 'database'">
                <div class="db-header">
                    <input type="text" class="input" id="dog-data-search" onchange="searchDogData()" placeholder="Nach Hund suchen">
                    <div class="nav-btn nav-back" onclick="changeToStartView()">&#61761;</div>
                </div>
                <div class="db-table">
                    <div class="db-table-holder">
                        <div class="db-row db-table-head no-select">
                            <div class="db-column dbc-chip-head">Chip-Nr.</div>
                            <div class="db-column dbc-zbn-head">Zuchtbuch-Nr.</div>
                            <div class="db-column dbc-firstname-head">Hunde-Name</div>
                            <div class="db-column dbc-lastname-head">Zwinger-Name</div>
                            <div class="db-column dbc-birthdate-head">Wurftag</div>
                            <div class="db-column dbc-gender-head">Geschlecht</div>
                            <div class="db-column dbc-race-head">Rasse</div>
                            <div class="db-column dbc-hairtype-head">Haartype</div>
                            <div class="db-column dbc-haircolor-head">Haarfarbe</div>
                            <div class="db-column dbc-mother-head">Mutter</div>
                            <div class="db-column dbc-father-head">Vater</div>
                            <div class="db-column dbc-breeder-head">Züchter</div>
                            <div class="db-column dbc-breeder-head">Mitglieds-Nr.</div>
                        </div>
                        <div v-for="dog in dogData" class="db-row" onclick="editDogData(this)">
                            <div class="db-column dbc-chip" :title="dog.chipnumber">{{dog.chipnumber}}</div>
                            <div class="db-column dbc-zbn" :title="dog.zbn">{{dog.zbn}}</div>
                            <div class="db-column dbc-firstname" :title="dog.firstname">{{dog.firstname}}</div>
                            <div class="db-column dbc-lastname" :title="dog.lastname">{{dog.lastname}}</div>
                            <div class="db-column dbc-birthdate" :title="formatDate(dog.birthdate)">{{formatDate(dog.birthdate)}}</div>
                            <div class="db-column dbc-gender" :title="dog.gender">{{dog.gender}}</div>
                            <div class="db-column dbc-race" :title="dog.race">{{dog.race}}</div>
                            <div class="db-column dbc-hairtype" :title="dog.hairtype">{{dog.hairtype}}</div>
                            <div class="db-column dbc-haircolor" :title="dog.haircolor">{{dog.haircolor}}</div>
                            <div class="db-column dbc-mother" :title="dog.mother">{{dog.mother}}</div>
                            <div class="db-column dbc-father" :title="dog.father">{{dog.father}}</div>
                            <div class="db-column dbc-breeder" :title="dog.breeder">{{dog.breeder}}</div>
                            <div class="db-column dbc-membernumber" :title="dog.membernumber">{{dog.membernumber}}</div>
                        </div>
                    </div>
                </div>
                <div class="nav-fab nav-fab-1 no-select" data-tooltip="Eintrag hinzufügen" data-tooltip-position="left" onclick="animPopup('add-dog','in')">&#62485;</div>
            </div>



            <div class="popup-bg add-dog-bg no-select">
                <div class="popup-holder add-dog-holder">
                    <div class="popup-header add-dog-header">
                        Eintrag hinzufügen
                        <div class="close-ui" onclick="animPopup('add-dog','out')">&#61782;</div>
                    </div>
                    <form id="dog-data-creator" onsubmit="createDogData(event)" class="popup-content add-dog-content">
                        <input name="chipnumber" type="text" class="input" placeholder="Chip-Nr.">
                        <input name="zbn" type="text" class="input" placeholder="Zuchtbuch-Nr.">
                        <input name="name" type="text" class="input" placeholder="Name">
                        <input name="birthdate" type="date" class="input" placeholder="Wurftag">
                        <select name="gender" class="input">
                            <option value="male">Rüde</option>
                            <option value="female">Hündin</option>
                        </select>
                        <input name="race" type="text" class="input" placeholder="Rasse">
                        <select name="hairtype" class="input">
                            <option value="" disabled selected>Haartype auswählen</option>
                            <option value="Struppig">Struppig</option>
                            <option value="Glatt">Glatt</option>
                            <option value="Gelockt">Gelockt</option>
                            <option v-for="type in settings.hairtypes" :value="type">{{type}}</option>
                        </select>
                        <input name="haircolor" type="text" class="input" placeholder="Haarfarbe">
                        <input name="father" type="text" class="input" placeholder="Vater">
                        <input name="mother" type="text" class="input" placeholder="Mutter">
                        <input name="breeder" type="text" class="input" placeholder="Züchter">
                        <input name="membernumber" type="text" class="input" placeholder="Mitglieds-Nr.">
                        <button type="reset" class="button ghost-button">Eingaben löschen</button>
                        <button type="submit" class="button">Hinzufügen</button>
                    </form>
                </div>
            </div>



            <div class="popup-bg settings-bg no-select">
                <div class="popup-holder settings-holder">
                    <div class="popup-header settings-header">
                        Einstellungen
                        <div class="close-ui" onclick="animPopup('settings','out')">&#61782;</div>
                    </div>
                    <div class="popup-content settings-content">

                        <!-- OPTION LICENSE -->
                        <div class="settings-divider">
                            <div class="settings-label"><div class="icon">&#61732;</div>Lizenz:</div>
                            <input class="settings-input input" v-model="i.settings.license" type="text" placeholder="XXXXX-XXXXX-XXXXX-XXXXX-XXXXX">
                        </div>

                        <!-- OPTION DATEFORMAT -->
                        <div v-show="settings.logged" class="settings-divider">
                            <div class="settings-label"><div class="icon">&#61678;</div>Datumsformatierung:</div>
                            <select class="settings-input input" v-model="i.settings.dateFormat">
                                <option value="DMY">Tag Monat Jahr</option>
                                <option value="MDY">Monat Tag Jahr</option>
                                <option value="YDM">Jahr Tag Monat</option>
                            </select>
                        </div>

                        <!-- OPTION DATEDIVIDER -->
                        <div v-show="settings.logged" class="settings-divider">
                            <div class="settings-label"><div class="icon">&#63096;</div>Datumstrenner:</div>
                            <select class="settings-input input" v-model="i.settings.dateDivider">
                                <option value=".">. (Punkt)</option>
                                <option value="/">/ (Schrägstrich)</option>
                                <option value="-">- (Trennstrich)</option>
                            </select>
                        </div>

                        <!-- OPTION THEME -->
                        <div v-show="settings.logged" class="settings-divider">
                            <div class="settings-label"><div class="icon">&#62424;</div>Farbschema:</div>
                            <select class="settings-input input" v-model="i.settings.theme">
                                <option v-for="(theme, themeKey) in themes" :value="themeKey">{{theme.name}}</option>
                            </select>
                        </div>

                        <!-- OPTION HAIRTYPE -->
                        <div v-show="settings.logged" class="settings-divider">
                            <div class="settings-label"><div class="icon">&#63107;</div>Felltypen:</div>
                            <input class="settings-input input" v-model="i.settings.hairtypes" type="text" placeholder="z.B. Langhaar, Stoppelig, Lockig">
                        </div>
                    </div>
                    <div class="popup-footer settings-footer">
                        <div class="button ghost-button" onclick="resetSettings()">Zurücksetzen</div>
                        <div class="button" onclick="applySettings()">Übernehmen</div>
                    </div>
                </div>
            </div>



            <div class="popup-bg bu-bg no-select">
                <div class="popup-holder bu-holder">
                    <div class="popup-header bu-header">
                        Backups gefunden
                        <div class="close-ui" onclick="animPopup('bu','out')">&#61782;</div>
                    </div>
                    <div class="popup-content bu-content">
                        <div v-for="file in backup" class="bu-item">
                            <div class="bu-filename"> {{file}} </div>
                        </div>
                    </div>
                    <div class="popup-footer bu-footer">
                        <div class="button">Auswahl löschen</div>
                        <div class="button" onclick="deleteBackup()">Alle löschen</div>
                        <div class="button" onclick="animPopup('bu','out')">Ignorieren</div>
                    </div>
                </div>
            </div>



            <form onsubmit="ipLicenseNext(event)" class="input-popup-bg license-ip-bg">
                <input type="text" class="input" id="license-ip-value" placeholder="Lizenz eingeben">
                <button type="submit" class="input-popup-btn">Weiter</button>
            </form>

            <form onsubmit="ipPassNext(event)" class="input-popup-bg pass-ip-bg">
                <input type="text" class="input" id="pass-ip-value" placeholder="Passwort eingeben">
                <button type="submit" class="input-popup-btn">Weiter</button>
            </form>

            <!-- HOLDER FOR ALL TOAST NOTIFICATIONS -->
            <div class="toast-holder"></div>

        </div>
    </body>

    <script src="js/view.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/toast.js"></script>
    <script src="js/filemanagement.js"></script>
    <script src="js/backup_handler.js"></script>
    <script src="js/appmenuReceiver.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/misc.js"></script>

    <!-- Just here to let me F5 the program -> delete when production -->
    <script src="renderer.js"></script>

    <script src="js/INIT.js"></script>
</html>
