<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gencestor Druckvorschau</title>
        <script src="js/vue.min.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/print/main.min.css">
        <link rel="stylesheet" href="css/print/dina4.min.css">
        <script>
            const $ = require('jquery')
            const fs = require('fs')
            const dialog = require('electron').remote.dialog;
            const tooltip = require('electron-tooltip')
            const settings = require('electron-settings')
            const ipc = require('electron').ipcRenderer;
        </script>
    </head>
    <body>
        <div id="app">
            <div class="viewport" id="viewport">
                <div class="page">

                    <div class="page-state" v-show="pageState == 'FRONT'">
                        <div class="page-div page-left justify">
                            <div class="sub-hl">Liebe Hundebesitzerin, lieber Hundebesitzer,</div>
                            Der Deutsche Rassehunde Verband e.V. (DRV e.V.) – Wolfenbüttel möchte Sie als stolzen Hundebesitzer recht herzlich
                            beglückwünschen.<br><br>
                            Sicherlich werden Sie mit Ihrem „vierbeinigen Freund“ viel Freude haben und viele schöne gemeinsame Stunden erleben;
                            vielleicht werden Sie sogar darüber hinaus mit ihm große Erfolge erringen.<br><br>
                            Dabei und auch bei allen Belangen der Aufzucht, der Hundehaltung und Hundezucht möchte Ihnen der DRV e.V. gern
                            behilflich sein. Durch unsere jahrzehntelange Erfahrung mit Hunden stehen Ihnen bei Ihren großen oder kleinen Problemen
                            unsere kompetenten Fachleute gern zur Seite.<br><br>
                            Bitte beachten Sie auch, dass Ihr Hund ein Lebewesen ist, welches gerade in der Jugend Ihre Hilfe und Zuneigung
                            benötigt. Wenn Sie Geduld mit ihm haben und stets liebevoll mit ihm umgehen, wird er es Ihnen sein ganzes Leben lang mit
                            treue und Liebe danken.<br><br>
                            In Ihren Unterlagen befindet sich gewiss ein Mitgliedsantrag zu unserem Hundeverband. Füllen Sie diesen bitte
                            vollständig aus und senden ihn unterzeichnet im Original an uns zurück. Vielen Dank!<br>
                            <br>
                            <div class="full center">
                                Mit freundlicher Empfehlung Ihr
                                <img src="images/DRV.png" width="60"><br><br>
                            </div>
                            <div class="center full">
                                <div class="sub-hl2">Deutscher Rassehunde Verband e.V. (DRV) – Wolfenbüttel</div>
                                <span class="left">
                                    Hauptgeschäftsstelle: Heerklinke 15 ~ 38259 Salzgitter<br>
                                    Zuchtbuchamt: Hinter den Gärten 1 ~ 38729 Wallmoden<br>
                                    Tel: 05341 – 2934395 ~ drvev@mail.de ~ www.drvev.de<br><br>
                                </span><br>
                            </div>
                            <div class="comment">
                                <div class="divider"></div>
                                <span>Bemerkungen:</span>
                            </div>

                        </div>



                        <div class="page-div">
                            <div class="hl">Ahnenpass</div>
                            <div class="sub-hl">Pedigree</div>
                            <div class="data-container">
                                <div class="row-title breed">
                                    <span>Rasse:</span>
                                    <span>Breed</span>
                                </div>
                                <div class="row-title name">
                                    <span>Name d. Hundes:</span>
                                    <span>Name of dog</span>
                                </div>
                                <div class="row-title date">
                                    <span>Wurftag:</span>
                                    <span>Date of birth</span>
                                </div>
                                <div class="row-title gender">
                                    <span>Geschlecht</span>
                                    <span>Sex</span>
                                </div>
                                <div class="row-title color">
                                    <span>Farbe:</span>
                                    <span>Color</span>
                                </div>
                                <div class="row-title zbn">
                                    <span>Zuchtbuch - Nr.:</span>
                                    <span>Studbook number</span>
                                </div>
                                <div class="row-title chip">
                                    <span>Chip - Nr.:</span>
                                    <span>Micro chip No.</span>
                                </div>
                                <div class="row-title address">
                                    <span>Züchter / Anschrift</span>
                                    <span>Breeder / Address</span>
                                </div>
                                <div class="breedIN"></div>
                                <div class="nameIN"></div>
                                <div class="dateIN"></div>
                                <div class="amountIN"></div>
                                <div class="genderIN"></div>
                                <div class="colorIN"></div>
                                <div class="zbnIN"></div>
                                <div class="chipIN"></div>
                                <div class="addressIN"></div>
                            </div>
                            <div class="bottom-sign">
                                Für die Richtigkeit der Wurfangaben: ______________________________________
                            </div>

                            <div class="watermark"></div>

                            <h3 v-if="main.doc.entries[activePage] != undefined">Vorname: {{main.doc.entries[activePage].firstname}}</h3><br>
                            <h3 v-if="main.doc.entries[activePage] != undefined">Geschlecht: {{main.doc.entries[activePage].gender}}</h3><br>
                            <h3 v-if="main.doc.entries[activePage] != undefined">Chip Nr: {{main.doc.entries[activePage].chipnumber}}</h3><br>
                            <h3 v-if="main.doc.entries[activePage] != undefined">Züchtername: {{main.doc.name}}</h3><br>
                        </div>
                    </div>


                    <div class="page-state" v-show="pageState == 'BACK'">
                        <div class="tree-top" v-if="main.doc.entries[activePage] != undefined">
                            {{main.doc.entries[activePage].firstname}} - {{main.doc.name}}
                        </div>
                        <div class="tree">
                            <div class="tree-column" v-for="(column, c) in main.doc.tree">
                                <div class="tree-row" v-for="(row, r) in column">
                                    {{main.doc.tree[c][r].name}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="print-sidebar">
                <div class="tab-holder">
                    <div class="tab" :class="{'active' : pageState == 'FRONT'}" @click="pageState = 'FRONT'">Vorderseite</div>
                    <div class="tab" :class="{'active' : pageState == 'BACK'}" @click="pageState = 'BACK'">Rückseite</div>
                </div>
                <div class="entry-holder">
                    <div v-for="(entry, i) in main.doc.entries" class="entry" :class="{'active' : activePage == i}">
                        <div class="name" @click="selectEntry(i)">{{entry.firstname}}</div>
                        <label class="checkbox-holder">
                            <input type="checkbox" class="checkbox" :value="entry.selected" v-model="entry.selected">
                        </label>
                    </div>
                </div>
                <div class="print-footer">
                    <div class="button" onclick="triggerPrint()">Auswahl drucken</div>
                </div>
            </div>
            <div class="print-controlls">
                <div class="btn" data-tooltip="Heran zoomen" data-tooltip-position="left" @click="zoomIn(1.3)">&#63212;</div>
                <div class="btn" data-tooltip="Heraus zoomen" data-tooltip-position="left" @click="zoomOut(1.3)">&#63211;</div>
                <div class="btn" data-tooltip="Seite zentrieren" data-tooltip-position="left" @click="setPosScaleDefault()">&#62194;</div>
            </div>
        </div>
    </body>
    <script>

        app = new Vue({
            el:'#app',
            data: {
                scale: 0.8,
                pos: {x:-130,y:-45},
                grab: {startx: 0, starty: 0, isGrabbing: false},
                pageState: 'FRONT',
                activePage: 0,
                main: {
                    doc:{
                        entries: []
                    }
                }
            },
            methods: {
                zoomIn: function(x = 1.1){
                    if (this.scale < 3) this.scale = this.scale * x
                    setPosScale()
                },
                zoomOut: function(x = 1.1){
                    if (this.scale > 0.2) this.scale = this.scale / x
                    setPosScale()
                },
                setPosScaleDefault: function(){
                    this.pos.x = -130
                    this.pos.y = -45
                    this.scale = 0.8
                    setPosScale()
                },
                selectEntry: function(i){
                    if(i >= 0 && i <= this.main.doc.entries.length - 1){
                        this.activePage = i
                    }
                }
            }
        })

        tooltip({ style: { backgroundColor: '#292828', borderRadius: '4px' } })
        setPosScale()

        let viewport = document.getElementById('viewport')

        viewport.addEventListener('wheel', function (e) {
            if (e.deltaY < 0) app.zoomIn()
            if (e.deltaY > 0) app.zoomOut()
        })

        viewport.addEventListener('mousedown', function (e) {
            app.grab.isGrabbing = true
            app.grab.startx = e.clientX
            app.grab.starty = e.clientY
        })

        viewport.addEventListener('mouseup', function (e) {
            app.grab.isGrabbing = false
        })

        viewport.addEventListener('mouseout', function (e) {
            app.grab.isGrabbing = false
        })

        viewport.addEventListener('mousemove', function (e) {
            if(app.grab.isGrabbing){
                app.pos.x += e.clientX - app.grab.startx
                app.pos.y += e.clientY - app.grab.starty
                app.grab.startx = e.clientX
                app.grab.starty = e.clientY
                setPosScale()
            }
        })

        function setPosScale() {
            $('.page').css('transform', `translate(${app.pos.x}px,${app.pos.y}px) scale(${app.scale})`)
        }



        function closePrint() {
            ipc.send('print-close')
        }



        function triggerPrint() {
            dialog.showOpenDialog({properties: ['openDirectory']}, (filepath) => {

                $('.page-front').css('display','inline-block')
                $('.page-back').css('display','none')

                ipc.send('print-to-pdf',[filepath[0],'seite_1.pdf',true])

            })
        }


        ipc.on ('print-info-return', (event, values_raw) => {
            app.main = JSON.parse(values_raw)

            for (let i = 0; i < app.main.doc.entries.length; i++) {
                app.main.doc.entries[i]['selected'] = true
            }
        })


        ipc.on('print-front-ready', (event, filepath) => {

            $('.page-front').css('display','none')
            $('.page-back').css('display','inline-block')

            ipc.send('print-to-pdf',[filepath,'seite_2.pdf',false])

            closePrint()
        });
    </script>

    <!-- Just here to let me F5 the program -> delete when production -->
    <script src="renderer.js"></script>
</html>