<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/print/main.min.css">
    <link rel="stylesheet" href="css/print/dina4.min.css">
    <script>
        const $ = require('jquery')
        const fs = require('fs')
        const settings = require('electron-settings')
        const ipc = require('electron').ipcRenderer
    </script>
</head>

<body>
    <div id="app">
        <div class="page">
            <div class="page-state" v-show="pageState == 'FRONT'">
                <div class="page-div page-left justify">
                    <div class="page-border"></div>
                    <div class="sub-hl">Liebe Hundebesitzerin, lieber Hundebesitzer,</div>
                    Der Deutsche Rassehunde Verband e.V. (DRV e.V.) – Wolfenbüttel möchte Sie als stolzen Hundebesitzer recht
                    herzlich
                    beglückwünschen.<br><br>
                    Sicherlich werden Sie mit Ihrem „vierbeinigen Freund“ viel Freude haben und viele schöne gemeinsame Stunden
                    erleben;
                    vielleicht werden Sie sogar darüber hinaus mit ihm große Erfolge erringen.<br><br>
                    Dabei und auch bei allen Belangen der Aufzucht, der Hundehaltung und Hundezucht möchte Ihnen der DRV e.V.
                    gern
                    behilflich sein. Durch unsere jahrzehntelange Erfahrung mit Hunden stehen Ihnen bei Ihren großen oder
                    kleinen Problemen
                    unsere kompetenten Fachleute gern zur Seite.<br><br>
                    Bitte beachten Sie auch, dass Ihr Hund ein Lebewesen ist, welches gerade in der Jugend Ihre Hilfe und
                    Zuneigung
                    benötigt. Wenn Sie Geduld mit ihm haben und stets liebevoll mit ihm umgehen, wird er es Ihnen sein ganzes
                    Leben lang mit
                    treue und Liebe danken.<br><br>
                    In Ihren Unterlagen befindet sich gewiss ein Mitgliedsantrag zu unserem Hundeverband. Füllen Sie diesen
                    bitte
                    vollständig aus und senden ihn unterzeichnet im Original an uns zurück. Vielen Dank!<br>
                    <div class="full center">
                        Mit freundlicher Empfehlung Ihr
                        <img src="images/DRV.png" class="drv-logo-front" width="80"><br>
                    </div>
                    <div class="center full">
                        <div class="sub-hl2">Deutscher Rassehunde Verband e.V. (DRV) – Wolfenbüttel</div>
                        <span class="left">
                            Hauptgeschäftsstelle:&nbsp;&nbsp;&nbsp;&nbsp;Heerklinke
                            15&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;38259 Salzgitter<br>
                            Zuchtbuchamt:&nbsp;&nbsp;&nbsp;Hinter den Gärten 1&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;38729
                            Wallmoden<br>
                            Tel:&nbsp;&nbsp;05341 –
                            2934395&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;drvev@mail.de&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;www.drvev.de<br><br>
                        </span><br>
                    </div>
                    <div class="comment">
                        <div class="divider"></div>
                        <span class="comment-hl">Bemerkungen:</span><br>
                        <span v-html="main[activePage].comment"></span>
                    </div>
        
                </div>
        
        
        
                <div class="page-div page-right">
                    <div class="page-border"></div>
                    <div class="hl">Ahnenpass</div>
                    <div class="sub-hl">Pedigree</div>
                    <div class="data-container">
                        <div class="row-title breed">
                            <span>Rasse:</span>
                            <span>Breed</span>
                        </div>
                        <div class="row-title name">
                            <span>Name d. Hundes:</span>
                            <span>Name of dog</span>
                        </div>
                        <div class="row-title date">
                            <span>Wurftag:</span>
                            <span>Date of birth</span>
                        </div>
                        <div class="row-title gender">
                            <span>Geschlecht:</span>
                            <span>Sex</span>
                        </div>
                        <div class="row-title color">
                            <span>Farbe:</span>
                            <span>Colour</span>
                        </div>
                        <div class="row-title zbn">
                            <span>Zuchtbuch - Nr.:</span>
                            <span>Studbook number</span>
                        </div>
                        <div class="row-title chip">
                            <span>Chip - Nr.:</span>
                            <span>Micro chip No.</span>
                        </div>
                        <div class="row-title address">
                            <span>Züchter / Anschrift:</span>
                            <span>Breeder / Address</span>
                        </div>
                        <div class="breedIN row-bold2">{{main[activePage].race}}</div>
                        <div class="nameIN row-bold1">
                            {{main[activePage].name_1}}<br>
                            {{main[activePage].name_2}}
                        </div>
                        <div class="dateIN row-bold2">{{main[activePage].birthdate}}</div>
                        <div class="amountIN">
                            <div class="row-title amount-title">
                                <span>Wurfstärke:</span>
                                <span>amount of puppies</span>
                            </div>
                            <div class="amount row-bold2">{{main[activePage].male}} / {{main[activePage].female}}</div>
                        </div>
                        <div class="genderIN row-bold2">{{main[activePage].gender}}</div>
                        <div class="colorIN row-bold2">{{main[activePage].haircolor}}</div>
                        <div class="zbnIN row-bold1">{{main[activePage].zbn}}</div>
                        <div class="chipIN row-bold2">{{main[activePage].chipnumber}}</div>
                        <div class="addressIN row-bold2" v-html="main[activePage].address"></div>
                        <div class="fcm">
                            <img src="images/FCM.png">
                        </div>
                    </div>
                    <div class="bottom-sign">
                        <span class="title">Für die Richtigkeit der Wurfangaben:</span>
                        <span class="line">Unterschrift des Züchters</span>
                    </div>
                </div>
            </div>
        
        
            <div class="page-state" v-show="pageState == 'BACK'">
                <div class="tree-top">
                    <div class="item">Rasse: <b>{{main[activePage].race}}</b></div>
                    <div class="item">Name: <b>{{main[activePage].name_1}} {{main[activePage].name_2}}</b></div>
                    <div class="item">Wurftag: <b>{{main[activePage].birthdate}}</b></div>
                    <div class="item">ZB-Nr.: <b>{{main[activePage].zbn}}</b></div>
                    <div class="item">Chip-Nr.: <b>{{main[activePage].chipnumber}}</b></div>
                </div>
        
                <div class="tree-bottom">
                    <div class="border"></div>
                    <div class="tree-hl">
                        <div class="item">I. Eltern / Parents</div>
                        <div class="item">II. Großeltern / Grandparents</div>
                        <div class="item">III. Urgroßeltern / G. Grandparents</div>
                        <div class="item">IV. Ururgroßeltern / G.-G. Gr.Parents</div>
                    </div>
                    <div class="tree">
                        <div class="tree-column">
                            <div class="tree-row c1" v-for="(row, r) in main[activePage].tree[0]">
                                <div class="name">
                                    <span v-if="main[activePage].tree[0][r].LNF == 'YES'">
                                        {{main[activePage].tree[0][r].lastname}}
                                        {{main[activePage].tree[0][r].firstname}}
                                    </span>
                                    <span v-else>
                                        {{main[activePage].tree[0][r].firstname}}
                                        {{main[activePage].tree[0][r].lastname}}
                                    </span>
                                </div><br>
                                <div class="data">
                                    <div class="title">
                                        ZB-Nr.:<br>
                                        Chip-Nr.:<br>
                                        Wurftag:<br>
                                        Farbe:<br>
                                        Größe:<br><br>
                                    </div>
                                    <div class="values">
                                        {{main[activePage].tree[0][r].zbn}}<br>
                                        {{main[activePage].tree[0][r].chipnumber}}<br>
                                        <span
                                            v-if="main[activePage].tree[0][r].birthdate != '0001-01-01'">{{main[activePage].tree[0][r].birthdate_}}</span>
                                        <span v-else>*****</span><br>
                                        {{main[activePage].tree[0][r].haircolor}}<br>
                                        <span
                                            v-if="main[activePage].tree[0][r].size != 0">{{main[activePage].tree[0][r].size}}cm</span><br><br>
                                    </div>
                                </div><br>
                                <div class="desc" v-html="main[activePage].tree[0][r].desc"></div>
                            </div>
                        </div>
                    
                    
                    
                        <div class="tree-column">
                            <div class="tree-row c2" v-for="(row, r) in main[activePage].tree[1]">
                                <div class="name">
                                    <span v-if="main[activePage].tree[1][r].LNF == 'YES'">
                                        {{main[activePage].tree[1][r].lastname}}
                                        {{main[activePage].tree[1][r].firstname}}
                                    </span>
                                    <span v-else>
                                        {{main[activePage].tree[1][r].firstname}}
                                        {{main[activePage].tree[1][r].lastname}}
                                    </span>
                                </div><br>
                                <div class="data">
                                    <div class="title">
                                        {{main[activePage].tree[1][r].zbn}}<br>
                                        <span
                                            v-if="main[activePage].tree[1][r].birthdate != '0001-01-01'">{{main[activePage].tree[1][r].birthdate_}}</span>
                                        <span v-else>********</span><br>
                                    </div>
                                    <div class="values">
                                        {{main[activePage].tree[1][r].haircolor}}<br>
                                        {{main[activePage].tree[1][r].chipnumber}}<br>
                                    </div>
                                </div><br>
                                <span class="size" v-if="main[activePage].tree[1][r].size != 0">Gr.: {{main[activePage].tree[1][r].size}}cm
                                    ; </span>
                                <div class="desc" v-html="main[activePage].tree[1][r].desc"></div>
                            </div>
                        </div>
                    
                    
                    
                        <div class="tree-column">
                            <div class="tree-row c3" v-for="(row, r) in main[activePage].tree[2]">
                                <div class="name">
                                    <span v-if="main[activePage].tree[2][r].LNF == 'YES'">
                                        {{main[activePage].tree[2][r].lastname}}
                                        {{main[activePage].tree[2][r].firstname}}
                                    </span>
                                    <span v-else>
                                        {{main[activePage].tree[2][r].firstname}}
                                        {{main[activePage].tree[2][r].lastname}}
                                    </span>
                                </div><br>
                                <div class="data">
                                    <div class="title">
                                        {{main[activePage].tree[2][r].zbn}}<br>
                                        <span
                                            v-if="main[activePage].tree[2][r].birthdate != '0001-01-01'">{{main[activePage].tree[2][r].birthdate_}}</span>
                                        <span v-else>********</span><br>
                                    </div>
                                    <div class="values">
                                        {{main[activePage].tree[2][r].haircolor}}<br>
                                        {{main[activePage].tree[2][r].chipnumber}}<br>
                                    </div>
                                </div><br>
                                <span class="size" v-if="main[activePage].tree[2][r].size != 0">Gr.: {{main[activePage].tree[2][r].size}}cm
                                    ; </span>
                                <div class="desc" v-html="main[activePage].tree[2][r].desc"></div>
                            </div>
                        </div>
                    
                    
                    
                        <div class="tree-column">
                            <div class="tree-row c4" v-for="(row, r) in main[activePage].tree[3]">
                                <div class="name">
                                    <span v-if="main[activePage].tree[3][r].LNF == 'YES'">
                                        {{main[activePage].tree[3][r].lastname}}
                                        {{main[activePage].tree[3][r].firstname}}
                                    </span>
                                    <span v-else>
                                        {{main[activePage].tree[3][r].firstname}}
                                        {{main[activePage].tree[3][r].lastname}}
                                    </span>
                                </div><br>
                                <div class="data">
                                    <span class="item">{{main[activePage].tree[3][r].zbn}}</span>
                                    <span class="item"
                                        v-if="main[activePage].tree[3][r].birthdate != '0001-01-01'">{{main[activePage].tree[3][r].birthdate_}}</span>
                                    <span class="item" v-else>*****</span>
                                    <span class="item">{{main[activePage].tree[3][r].haircolor}}</span>
                                </div><br>
                                <span class="size" v-if="main[activePage].tree[3][r].size != 0">Gr.: {{main[activePage].tree[3][r].size}}cm
                                    ; </span>
                                <div class="desc" v-html="main[activePage].tree[3][r].desc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    app = new Vue({
        el: '#app',
        data: {
            filepath: '',
            pageState: 'FRONT',
            activePage: 0,
            main: [{
                name_1: '',
                name_2: '',
                firstname: '',
                lastname: '',
                race: '',
                male: 0,
                female: 0,
                gender: '',
                haircolor: '',
                address: '',
                zbn: '',
                chipnumber: '',
                comment: '',
                selected: true,
                birthdate: '',
                tree: []
            }]
        }
    })


    ipc.on('print-request-return', (event, args) => {
        app.main = JSON.parse(args[0])
        app.filepath = args[1]
        app.$nextTick(()=>{
            pickNprint(false)
        })
    })


    ipc.on('print-to-pdf-ready', (event, filepath) => {
        pickNprint(true)
    })

    var pickNprint = (shouldAdd = false) => {
        if((app.activePage+1) < app.main.length || app.pageState == 'FRONT'){

            if(shouldAdd){
                if(app.pageState == 'FRONT'){
                    app.pageState = 'BACK'
                }else{
                    app.pageState = 'FRONT'
                    app.activePage++
                }
            }

            app.$nextTick(() => {
                let pageName = (app.pageState == 'FRONT') ? 'Seite-1' : 'Seite-2'
                ipc.send('print-to-pdf', [app.filepath, `${pageName} ${app.main[app.activePage].name_1} ${app.main[app.activePage].name_2}.pdf`])
            })

            // if(app.main[app.activePage].selected){
            //     app.$nextTick(() => {
            //         ipc.send('print-to-pdf', [app.filepath, `${app.pageState}_${app.main[app.activePage].name_1}_${app.main[app.activePage].name_2}.pdf`])
            //     })
            // } else {
            //     pickNprint(true)
            // }
        }
    }
</script>
</html>