.page
    height: 1000px
    width: 1414px
    background: var(--background1)
    filter: drop-shadow(0 2px 2px rgba(0,0,0,var(--so)))
    position: absolute
    top: 0px
    left: 0px
    user-select: none
    cursor: initial
    color: var(--text-color3)

    .page-state
        height: 100%
        width: 100%

        .page-div
            width: calc(50% - 20px)
            height: calc(100% - 20px)
            margin: 10px
            padding: 10px
            text-align: left
            line-height: 24px
            font-size: 19px
            vertical-align: top
            border: 1px solid #aaa
            border-radius: 5px

        .tree-top
            height: 60px
            line-height: 60px
            width: 100%
            text-align: center
            color: #aaa
            font-size: 17px

        .tree
            display: flex
            height: calc(100% - 60px)
            width: 100%
            padding: 10px
            padding-top: 0

            .tree-column
                height: 100%
                flex: 1
                display: flex
                flex-direction: column
                justify-content: space-around

                .tree-row
                    flex: 1
                    color: var(--text-color3)
                    border: 1px solid #aaa
                    border-radius: 5px
                    width: 100%
                    font-size: 14px
                    padding: 10px