.page-holder{
    height: 100vh;
    width: 100vw;
}

.page{
    height: calc(100% - 50px);
    border: 4px solid gray;
    width: 100%;
    display: inline-block;
}

.page-front{ border-color: #0057FF; }
.page-back{ border-color: midnightblue; }

.sub-page{
    border: 3px solid #ccc;
    width: 50%;
    height: 100%;
    font-size: 20px;
    vertical-align: top;
}



@media print{    
    .no-print, .no-print *{
        display: none !important;
    }
}