.layout-view
    background: var(--background2)
    
.layout-sidebar
    height: 100%
    width: 300px
    padding-top: 60px
    position: fixed
    top: 0
    z-index: 1
    text-align: left
    background: var(--background1)
    filter: drop-shadow(0 4px 7px rgba(0,0,0,var(--so)))

    &.left
        left: 0

    &.right
        right: 0